@import "tailwindcss";


body{
    p,a,li{
        margin-top: 5px;
    }
    strong{
        font-weight: 600;
        font-size: larger;
    }
}

.ai-res::-webkit-scrollbar {
    display: none;
}

.ai-res{
    -ms-overflow-style: none;   /* Internet Explorer 10+ */
    scrollbar-width: none;      /* firefox */
}



